<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/fleetview-logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="fleetviewNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="fleetviewNavbar" class="navbar-menu">
    <div class="navbar-start">
	{% if authed != false %}
      <a class="navbar-item" href="/show_fleet">
        Fleet Summary
      </a>

      <a class="navbar-item" href="/show_snapshots">
        Fleet Snapshots
      </a>
	{% else %}
      <a class="navbar-item has-text-grey-light">
        Fleet Summary
      </a>

      <a class="navbar-item has-text-grey-light">
        Fleet Snapshots
      </a>	
	{% endif %}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

	{% if authed == false %}
    <div class="navbar-end">
      <a class="navbar-item" href="{{ auth_url }}">
        <img src="/static/eve-sso-login-white-large.png">
      </a>
    </div>
	{% else %}
    <div class="navbar-end">
	  <p class="navbar-item">
        Authed as: <br>
		{{ authed_info.CharacterName }}
      </p>
	  <a class="delete" href="/unauth"></a>
    </div>	
	{% endif %}
  </div>
</nav>

{% if is_beta() %}
<div class="container is-fluid">
  <div class="notification has-background-danger">
    Work in progress beta version, errors and frequent unavailability expected.
  </div>
</div>
{% endif %}