<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fleet Comp</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body class="has-navbar-fixed-top" style="padding-top: 5.5rem;">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ url_for('static', filename='jquery.tablesort.js') }}"></script>
	<script>
		var authedCharId = {{ authed_info.CharacterID }};
	</script>
	<script src="{{ url_for('static', filename='show_fleet.js') }}"></script>
	<script src="https://kit.fontawesome.com/4ac5bc0e9c.js" crossorigin="anonymous"></script>	
	
	{% include 'navbar.html' %}
	
	<section class="section">	
		<div id="errors">
		</div>
		<nav class="level">
    		<div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="level-item">
                            <p class="subtitle">Live-share this fleet:</p>
                        </div>
                        <p class="control">
                            <input id="share_participants" class="input" type="text" placeholder="Comma separated character names" style="width: 300px;">
                        </p>
                        <p class="control">
                            <button id="share_button" class="button">Start Sharing</button>
                        </p>
                    </div>
                    <div class="level-item">
                        <strong><p class="subtitle" id="share_link"></p></strong>
                    </div>
                </div>
			</div>
		</nav>
		<div id="loading_indicator" class="container"><progress class="progress is-large is-info" max="100">60%</progress></div>
		<div id="last_refresh_time" class="container"></div>
		<div class="columns">
			<div class="column">
				<table class="table" onload="tablesort()">
					<thead>
						<tr>
							<th>
								Ship
								<span class="icon">
									<i class='fas fa-sort'></i>
								</span>
							</th>
							<th>
								Type
								<span class="icon">
									<i class='fas fa-sort'></i>
								</span>
							</th>
							<th>
								Location
								<span class="icon">
									<i class='fas fa-sort'></i>
								</span>
							</th>
						</tr>
					</thead>
				</table>
				<tbody id="members">
				</tbody>
			</div>		
			<div id="fleetcomp" class="column"></div>	
			<div id="ships" class="column"></div>
		</div>
	</section>
	
	{% include 'footer.html' %}

  </body>
</html>