<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fleet Comp</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body class="has-navbar-fixed-top">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ url_for('static', filename='jquery.tablesort.js') }}"></script>
	<script>
		var authedCharId = {{ authed_info.CharacterID }};
		var share_id = {{ share_id }};
	</script>
	<script src="{{ url_for('static', filename='show_shared_fleet.js') }}"></script>
	<script src="https://kit.fontawesome.com/4ac5bc0e9c.js" crossorigin="anonymous"></script>	
	
	{% include 'navbar.html' %}
	
	<section class="section">	
		<div id="errors">
		</div>
		<div id="loading_indicator"><progress class="progress is-large is-info" max="100">60%</progress></div>
		<div id="last_refresh_time" class="container"></div>
		<div class="columns">
			<div id="members" class="column"></div>		
			<div id="fleetcomp" class="column"></div>	
			<div id="ships" class="column"></div>
		</div>
	</section>
	
	{% include 'footer.html' %}

  </body>
</html>